.time-div-active {
    max-width: 900px;
}

#calendar-section {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    // Override FullCalendar CSS Styles

    .scheduler-label {
        font-size: 1.5rem;
        font-weight: 700;
        color: #2d629a;
        text-transform: uppercase;
    }
    #calendar {
        font-family: Lato;
        font-weight: 300;
        flex: 2;
    }
    table {
        border: none;
    }
    .fc-theme-standard td, .fc-theme-standard th {
        border:none;
    }

    // Header
    .fc-toolbar-title {
        color: #2c6097;
        font-size: 1.5rem;
        font-weight: 400;
    }
    .fc-today-button {
        display:none;
    }
    .fc-prev-button, .fc-next-button {
        color: dodgerblue;
        background-color: white;
        border-color: white;
        outline: none;
    }
    .fc .fc-button-primary:focus {
        box-shadow: 0;
    }

    // Days
    .fc-col-header-cell {
        color: #2c6097;
        font-weight: 300;
        font-size: 1rem;
        text-transform: uppercase;
    }
    .fc-daygrid-day {
        font-weight: 400;
        color:#909090;
    }
    .fc-daygrid-day-events {
        margin: 0;
    }
    .fc-daygrid-day-number {
        margin: auto;
    }
    .fc-day-today {
        background-color:  #d4f9ff;
        border: 1px solid #d9d9d9;
        border-radius: 100px;
    }
    .fc-day-disabled {
        background-color: white;
    }
}

.fc .fc-highlight {
    background:rgb(183, 232, 255);
    background: var(--fc-highlight-color, rgba(149, 149, 149, 0.3));
    border: 1px solid #d9d9d9;
    border-radius: 100px;
  }

#schedule-div {
    display: flex;
}

#available-times-div {
    display: none;
    flex: 1;
    order: 2;
    margin-left: 10px;
}

.time-slot {
    display: flex;
}

.time-btn {
    flex: 1;
    border: 1px solid lightblue;
    color: white;
    background-color: #2d629a;
    width: 100%;
    font-weight: 600;
    margin-bottom: 10px;

    &:hover {
        border-width: 2px;
        border-color: dodgerblue;
    }

    &:focus {
        background-color: gray;
        font-weight: 500;
        color: white;
        outline: none;
        border: none;

        &:hover {
            border:none;
        }
    }
}

.confirm-btn {
    flex: 1;
    width: 100%;
    margin-left: 5px;

    &:hover {
        opacity: 0.5;
    }

    &:focus {
        outline: 0;
        opacity: 0.5;
    }
}

@media (max-width: 1250px) {
    #calendar {
        max-width: 375px;
        margin: auto;
    }
}

@media (max-width: 645px) {
        
    #schedule-div {
        display: block;
    }

    #calendar {
        width: auto;
        margin-top: 20px;
    }
}