.time-div-active {
  max-width: 900px;
}

#calendar-section {
  -webkit-box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

#calendar-section .scheduler-label {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2d629a;
  text-transform: uppercase;
}

#calendar-section #calendar {
  font-family: Lato;
  font-weight: 300;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#calendar-section table {
  border: none;
}

#calendar-section .fc-theme-standard td, #calendar-section .fc-theme-standard th {
  border: none;
}

#calendar-section .fc-toolbar-title {
  color: #2c6097;
  font-size: 1.5rem;
  font-weight: 400;
}

#calendar-section .fc-today-button {
  display: none;
}

#calendar-section .fc-prev-button, #calendar-section .fc-next-button {
  color: dodgerblue;
  background-color: white;
  border-color: white;
  outline: none;
}

#calendar-section .fc .fc-button-primary:focus {
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

#calendar-section .fc-col-header-cell {
  color: #2c6097;
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}

#calendar-section .fc-daygrid-day {
  font-weight: 400;
  color: #909090;
}

#calendar-section .fc-daygrid-day-events {
  margin: 0;
}

#calendar-section .fc-daygrid-day-number {
  margin: auto;
}

#calendar-section .fc-day-today {
  background-color: #d4f9ff;
  border: 1px solid #d9d9d9;
  border-radius: 100px;
}

#calendar-section .fc-day-disabled {
  background-color: white;
}

.fc .fc-highlight {
  background: #b7e8ff;
  background: var(--fc-highlight-color, rgba(149, 149, 149, 0.3));
  border: 1px solid #d9d9d9;
  border-radius: 100px;
}

#schedule-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#available-times-div {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: 10px;
}

.time-slot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.time-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid lightblue;
  color: white;
  background-color: #2d629a;
  width: 100%;
  font-weight: 600;
  margin-bottom: 10px;
}

.time-btn:hover {
  border-width: 2px;
  border-color: dodgerblue;
}

.time-btn:focus {
  background-color: gray;
  font-weight: 500;
  color: white;
  outline: none;
  border: none;
}

.time-btn:focus:hover {
  border: none;
}

.confirm-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  margin-left: 5px;
}

.confirm-btn:hover {
  opacity: 0.5;
}

.confirm-btn:focus {
  outline: 0;
  opacity: 0.5;
}

@media (max-width: 1250px) {
  #calendar {
    max-width: 375px;
    margin: auto;
  }
}

@media (max-width: 645px) {
  #schedule-div {
    display: block;
  }
  #calendar {
    width: auto;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=schedule.css.map */